{% extends 'portfolio/main.html' %}
{% load static %}

{% block title %} T.J Matake {% endblock %}

{% block content %}
<!-- First Container -->
<div class="jumbotron text-center">
     <h1>Tshediso J. Matake</h1>
     <h3> Data Specialist</h3>
<p>
     Experienced data specialist with 7 years  of experience working with both AWS and Azure Big Data technologies. 
     Skilled in designing and deploying end to end data solutions with a passion for using data to tell insightful stories. 
     Strong coding background in Python, SQL and R.
</p>




{% endblock content %} 